<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
canvas {
    zindex:1;
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    position: absolute;
}
</style>
</head>
<body onload="startScreen()">
	<div id = "gameTimer" class="stopwatch"></div>
<iframe id="twitch" src="https://player.twitch.tv/?channel=Hagginater" frameborder="0" allowfullscreen="true" scrolling="no" height="415" width="748" style="position:absolute; left:20px; top:20px;"></iframe>
<iframe src="https://www.twitch.tv/hagginater/chat?popout=" frameborder="0" scrolling="no" height="500" width="350"style="left:0px; top:0px position:absolute"></iframe>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
var list_people = [];
var list_place = [];
var Bac = new Image();
Bac.src = "{{ url_for('static', filename = 'jiggyBac.png') }}";
function startScreen() {
    	timer.start();	
 layout.start();
}

var layout = {
canvas : document.createElement("canvas"),
 start : function() {
this.canvas.width = 1280;
this.canvas.height = 720;
 this.context = this.canvas.getContext("2d");
 document.body.insertBefore(this.canvas, document.body.childNodes[0]);
this.interval = setInterval(updateScreen, 20);
	this.stream = setInterval(changeStream, 60000);
	this.stream = setInterval(updateStats, 5000);
	

},
clear : function() {
	var time = document.getElementById("gameTimer").innerHTML;
	time = time.substring(6,time.length-7)	
        this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
	this.context.drawImage(Bac,0,0,1280,720);
	this.context.fillStyle = "black";
	this.context.fillRect(5,5,758, 424);
	this.context.font = "50px Impact";
	this.context.fillText("Blind RAREWARE 301%",20, 480);
	this.context.font = "70px Impact";
	//this.context.fillText(time.toHHMMSS(),410, 500);
	this.context.font = "20px Impact";
	this.context.fillText("On Screen: "+runnername,20, 505);  
 }
}

function updateScreen() {
layout.clear();
	list_place = list_people.slice();
	list_place.sort(function(a, b){return b.totals-a.totals});
	 	for ( var j = 0; j< list_place.length;j++)
		{
		list_place[j].place=j+1;

		}
for ( var i = 0; i< list_people.length;i++)
	{

	list_people[i].draw();
	};
} 

function updateStats(){
$.getJSON($SCRIPT_ROOT + '/_update', {
        a: 1,b:2
      }, function(data) {
        console.log(data.result);
		dataarray = data.result;
		if (dataarray){
		playerarray = dataarray.split('$')
		console.log(playerarray[1]);
		for ( var i = 0; i< list_people.length;i++)
			{
			player_data = playerarray[i].split(',');
			list_people[i].BKprogress = parseInt(player_data[1])
			list_people[i].BTprogress = parseInt(player_data[2])
			list_people[i].DKprogress = parseInt(player_data[3])
			list_people[i].totals = list_people[i].BKprogress+list_people[i].BTprogress+list_people[i].DKprogress;
			};
		}
      });
      return false;

}

var currentrunner=0;
var runnername="Hagginater"
function changeStream(){
	currentrunner+=1;
	document.getElementById('twitch').src = "https://player.twitch.tv/?channel="+list_people[currentrunner].username;
	runnername = list_people[currentrunner].username;
}

function card(x , y , name) {
	this.xpos = x;
	this.ypos = y;
	this.username=name;
	this.place=1;
	this.BKprogress=0;
	this.BTprogress=0;
	this.DKprogress=0;
	this.totals=0;
	//this.f= 'serverIcons/'+name+'.png';
	//this.picture = 'static/serverIcons/'+name+'.png';
	this.draw = function(){
		//console.log(this.picture );
		var ctx = layout.context;
		ctx.globalAlpha=0.9;
		ctx.fillStyle = "black";
		ctx.fillRect(768+this.xpos,this.ypos,256,120);

		var grdGray = ctx.createLinearGradient(768+this.xpos ,this.ypos ,768+this.xpos +250,this.ypos + 120);
		grdGray.addColorStop(0,"#1e1e15");
		grdGray.addColorStop(1,"#b6b696");
		ctx.fillStyle = grdGray;
		ctx.globalAlpha=0.2;
		ctx.fillRect(768+this.xpos +2,this.ypos +2,256 -4,120 -4);
		ctx.fillStyle = "black";
		ctx.globalAlpha=0.9;
		ctx.fillRect(768+this.xpos +4,this.ypos +4,54,54);
		//this.context.drawImage(this.picture,768+this.xpos +4,this.ypos +4,54,54);

		var grdYellow = ctx.createLinearGradient(768+this.xpos ,this.ypos ,768+this.xpos +250,this.ypos + 120);
		grdYellow.addColorStop(0,"#999900");
		grdYellow.addColorStop(1,"#ffff1a");
		ctx.fillStyle = grdYellow;
		ctx.font = "24px Century";
		ctx.fillText(this.username,768+this.xpos + 60 , this.ypos+30); 
		ctx.font = "15px Century";
		ctx.fillText("Place: "+this.place,768+this.xpos + 60 , this.ypos+50);
		ctx.fillText(" Completion: "+parseInt((this.totals/391)*100)+"%",768+this.xpos + 120 , this.ypos+50);
		

		var grdRed = ctx.createLinearGradient(768+this.xpos + 4,this.ypos + 62,768+this.xpos +250,this.ypos + 62+15);
		grdRed.addColorStop(0,"#990000");
		grdRed.addColorStop(1,"#ff3333");
		var grdBlue = ctx.createLinearGradient(768+this.xpos + 4,this.ypos + 62,768+this.xpos +250,this.ypos + 62+15);
		grdBlue.addColorStop(0,"blue");
		grdBlue.addColorStop(1,"#0066ff");
		var grdGreen = ctx.createLinearGradient(768+this.xpos + 4,this.ypos + 62,768+this.xpos +250,this.ypos + 62+15);
		grdGreen.addColorStop(0,"green");
		grdGreen.addColorStop(1,"#33cc33");
		ctx.fillStyle = grdRed;
		ctx.fillRect(768+this.xpos + 4,this.ypos + 62, 248*(this.BKprogress/100), 15);
		ctx.fillStyle = grdBlue;
		ctx.fillRect(768+this.xpos + 4,this.ypos + 60 + 15 +4,248*(this.BTprogress/90), 15);
		ctx.fillStyle = grdGreen;
		ctx.fillRect(768+this.xpos + 4,this.ypos + 60 + 30 +8,248*(this.DKprogress/201), 15);

	};
};

var player1 = new card(0 *256,0*120,"Hagginater");

list_people.push(player1);


var Stopwatch = function(elem, options) {

  var timer      = createTimer() ,
      offset,
      clock,
      interval;

  // default options
  options = options || {};
  options.delay = options.delay || 1;

  // append elements     
  elem.appendChild(timer);

  // initialize
  reset();

  // private functions
  function createTimer() {
    return document.createElement("span");
  }

  function createButton(action, handler) {
    var a = document.createElement("a");
    a.href = "#" + action;
    a.innerHTML = action;
    a.addEventListener("click", function(event) {
      handler();
      event.preventDefault();
    });
    return a;
  }

  function start() {
    if (!interval) {
      offset   = Date.now();
      interval = setInterval(update, options.delay);
    }
  }

  function stop() {
    if (interval) {
      clearInterval(interval);
      interval = null;
    }
  }

  function reset() {
    clock = 0;
    render();
  }

  function update() {
    clock += delta();
    render();
  }

  function render() {
    timer.innerHTML = clock/1000; 
  }

  function delta() {
    var now = Date.now(),
        d   = now - offset;

    offset = now;
    return d;
  }

  // public API
  this.start  = start;
  this.stop   = stop;
  this.reset  = reset;
};

var elem = document.getElementById("gameTimer");
var timer = new Stopwatch(elem, {delay: 10});

String.prototype.toHHMMSS = function () {
    var sec_num = parseInt(this, 10); // don't forget the second param
    var hours   = Math.floor(sec_num / 3600);
    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
    var seconds = sec_num - (hours * 3600) - (minutes * 60);

    if (hours   < 10) {hours   = "0"+hours;}
    if (minutes < 10) {minutes = "0"+minutes;}
    if (seconds < 10) {seconds = "0"+seconds;}
    return hours+':'+minutes+':'+seconds;
}
</script>
</body>
</html>