<!DOCTYPE html>
<html>
<title>Rareware Collectathon</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("{{ url_for('static', filename = 'bac.jpg') }}");
    min-height: 75%;
}
.menu {
    display: none;
}
 </style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="https://rareware-collectathon-race.herokuapp.com" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="https://rareware-collectathon-race.herokuapp.com/races" class="w3-button w3-block w3-black">Race Info</a>
    </div>
    <div class="w3-col s3">
      <a href="https://rareware-collectathon-race.herokuapp.com/stats" class="w3-button w3-block w3-black">Stats Page</a>
    </div>
    <div class="w3-col s3">
      <a href="https://discord.gg/wqEunw5" class="w3-button w3-block w3-black">Discord</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag"> 301% Saturday Jan 27, 2018</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px">Rareware N64<br>Collectathon Race</span>
  </div>
</header>


<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">About</span></h5>
    <p>The Nintendo 64 Rareware Collectathon Race, an idea originally conspired between Konditioner and 2dos, has now now been fully established into a major event between the Rareware speedrunners and their communities. The Rareware platformer collectathon games are Banjo-Kazooie, Banjo-Tooie, and Donkey Kong 64.</p>
    <p>There are three main race categories that are run with these games:</p>
	  <p>Any% - BK Any%, BT Any%, and DK64 Any%<br>
Restricted Any% - BK Any% No RBA, BT Any% No DCW, and DK64 No Levels Early<br>
301% - BK 100%, BT 100%, and DK64 101%</p>	  
	<p>Currently, the 301% Race is run on an annual basis within the community. No other races have been planned at this time.</p>
    <p><strong>301% Race:</strong> Saturday Jan 27, 2018</p>
  </div>
</div>



</body>
</html>
